body {
    font-family: Arial; 
    padding: 30px; 
}

header {
    text-align: center;
    position: sticky;
}

header p {
    font-size: small;
    margin-top: -10px;
}

header h4 {
    margin-top: 30px;
    
    
}
.HeaderLuas,.HeaderKeliling {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
    background-color:#00509d;
    color: white;
}

.LuasPersegi p,.KelilingPersegi p {
    margin-top: -50px;
    font-size: medium;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#LabelsquareSide {
    text-align: center;
    margin-top: 20px;
    font-size: large;
}

#squareSide {
    outline: none;
    border-radius: 5px;
    border-color: lightblue;
    padding: 15px;
    margin-top: 10px;
}

#squareSide:focus {
    border: solid #00509d;
}

button {
    
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer  
}
.hitungButton {
    background-color: #00509d ;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.hitungButton:hover {
    background-color: #00296b;
    color: #fdc500;
}
.resetButton {
    background-color: #fdc500;
    margin-top: 50px;
    
    
}
.resetButton:hover {
    background-color: #cd7213;
    color: #00296b;
}

